header {
    text-align: center;
    padding: 2% 4% 2% 4%;
    background-color: #F2DCC9;
}

main {

    padding: 2% 4% 2% 4%;
    /* background-color: #F2DCC9; */
}
#menuArticoli {
    text-align: center;
}
#h4Articoli {
    margin-bottom:4%;
}
.art {
    margin-bottom: 4%;
}
.art:hover{
    cursor: pointer;
}
.ArtImg {
    display: none;
    background-color: #F2DCC9;
    padding:3% 6% 3% 6%;
    text-align: left;
}
.q {
    quotes: none;
}
.dateline {
    font-style: italic;
}
.emph {
    font-style: italic;
}
.note {
    display: block;
}
.person {
    color: #402637;
    font-weight: bold;
}
.personLeg {
    color: #402637;
    font-weight: bold;
}
.ficPerson {
    color: #A65638;
}
.author {
    font-weight: bold;
}
.person:hover {
    cursor: pointer;
    color: #592525;
}
.title {
    font-style: italic;
}
.titleLeg {
    font-style: italic;
}
.title:hover {
    font-style: italic;
    color: #3F5F73;
    cursor: pointer;
}
.tema{
    text-decoration: underline;
    color: #60548C;
}
#bibliografie {
    text-align: center;
}
.appenBiblio {
    margin-bottom: 4%;
    margin-top:2%;
}
.appenBiblio:hover {
    cursor: pointer;
}
.foreign {
    color: #A6868C;
}
/* .immagine {
    width:40%;
}
.testo {
    width:40%;
} */
img {
    width: 30%;
    float: left;
    padding: 0 6% 2% 0;
    transition: transform .6s;
}
hr {
    border-top: 1px solid #592525;
    margin: 4% 0 4% 0;
}
img:hover {
    cursor: pointer;
}
img:active {
    transform: scale(2);
}
.zonaImg {
    background-color: #A65638;
    display: block;
}
.zonaImg:hover {
    background-color: #A65638;
}
#appendice {
    background-color: #F2DCC9;
    padding:3% 6% 3% 6%;
    text-align: left;
    display: none;
}
.gloss {
    opacity: .9;
    color: grey;
}
.expan {
    opacity: .9;
    color: grey;
}
.natural {
    color:#3F5F73;
}
.titoliAppendici {
    text-align: center;
}
.singolaBiblio {
    margin-bottom: 4%;
    margin-top: 4%;
}
#bibliografiaCompleta {
    background-color: #F2DCC9;
    padding:3% 6% 3% 6%;
    text-align: left;
    display: none;
}
#h3Bibl {
    margin-bottom:4%;
}
.orgName {
    color: #6E734C;
}
.placeName {
    color: #123E59;
}
footer {
    background-color: #F2BFB3;
    padding: 2%;
}
